.mediaViewInfo {
	--web-view-name: Bestätigung;
	--web-view-id: Besttigung;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Besttigung;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Besttigung {
	position: absolute;
	width: 800px;
	height: 480px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Bestätigung;
	--web-view-id: Besttigung;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(13,20,64,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 800px;
	height: 480px;
	left: 0px;
	top: 0px;
}
#Group_96 {
	position: absolute;
	width: 875px;
	height: 569px;
	left: -37px;
	top: -25px;
	overflow: visible;
}
#Group_95 {
	position: absolute;
	width: 875px;
	height: 569px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_94 {
	position: absolute;
	width: 875px;
	height: 569px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_70 {
	fill: rgba(13,20,64,1);
}
.Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 765px;
	height: 440px;
	left: 17.5px;
	top: 20px;
}
#Artwork_6 {
	position: absolute;
	width: 300.693px;
	height: 285.85px;
	left: 249.653px;
	top: 146.854px;
	overflow: visible;
}
#Group_164 {
	position: absolute;
	width: 300.693px;
	height: 285.85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Bist_du_beiseite_gefahren {
	left: 77px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 648px;
	white-space: nowrap;
	line-height: 65px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Franklin Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Ja {
	left: 297.274px;
	top: 221.353px;
	position: absolute;
	overflow: visible;
	width: 207.138px;
	height: 149.61631774902344px;
	text-align: center;
	font-family: Franklin Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(255,255,255,1);
}